@import 'utils/variables';
@import 'utils/media';

.dropdown-list {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1;
	max-height: 300px;
	padding: 12px;
	overflow: hidden;
	overflow-y: visible;
	background: $color-white;
	box-shadow: 8px 8px 24px $color-gray-200;
	transition: all 0.3s ease;

	&__item {
		margin-top: 12px;
		&:first-child {
			margin-top: 0;
		}
	}
}
