@import 'utils/variables';
@import 'utils/media';

.radio-group {
	display: flex;
	gap: 31px;

	@include media-mobile {
		gap: 30px;
	}
}

.radio {
	display: flex;
	align-items: center;
	column-gap: 11px;
	cursor: pointer;

	@include media-mobile {
		column-gap: 10px;
	}
}

.fake-control {
	position: relative;
	display: block;
	width: 26px;
	height: 26px;
	border: 2px solid $color-black;
	border-radius: 50px;
	cursor: pointer;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 12px;
		height: 12px;
		background: $color-black;
		border-radius: 50px;
		opacity: 0;

		@include media-mobile {
			width: 9.23px;
			height: 9.23px;
		}
	}

	@include media-mobile {
		width: 20px;
		height: 20px;
	}
}

.radio__input {
	display: none;

	&:checked + .fake-control::after {
		opacity: 1;
	}
}
