@import 'components/paragraph/paragraph.module';
@import 'utils/variables';
@import 'utils/media';

.input {
	@include paragraph;
	padding: 20px;
	background: $color-blue-50;
	border: 1px solid $color-blue-50;
	border-radius: 10px;
	appearance: none;

	&:hover {
		background: $color-blue-50;
		cursor: pointer;
	}

	&:focus {
		border-color: $color-gray-300;
		outline: none;
	}

	&::placeholder,
	&::-webkit-datetime-edit {
		color: $color-gray-300;
	}

	&::-webkit-datetime-edit {
		text-transform: uppercase;
	}

	&::-webkit-calendar-picker-indicator,
	&::-webkit-inner-spin-button {
		display: none;
		-webkit-appearance: none;
	}

	@include media-mobile {
		padding: 10px;
	}
}

.input_type_textarea {
	display: flex;
	flex-direction: column;
	resize: none;
}
