@import 'reset-css';
@import 'utils/variables';

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font: normal 20px Roboto, Arial, sans-serif;
	background: $color-beige-100;
	color: $color-black;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}
