@import 'utils/variables';
@import 'utils/media';

.dropdown {
	position: relative;

	&__input-wrapper {
		position: relative;
	}

	&__input_invalid {
		border: 3px solid $color-red;
	}

	&__chevron {
		position: absolute;
		top: calc(50% - 13px);
		right: 20px;
		transition: transform 0.15s;
		pointer-events: none;

		@include media-mobile {
			right: 10px;
		}
	}
}
