@import 'utils/variables';
@import 'utils/media';

.tabs {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;

	@include media-tablet {
		column-gap: 10px;
	}
}

.tabs__item {
	position: relative;
	display: flex;
	height: 34px;
	cursor: pointer;

	&:not(.tabs__item_active):hover::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 2px;
		background: $color-black;

		@include media-mobile {
			bottom: 0;
		}
	}

	@include media-mobile {
		height: 23px;
	}
}

.tabs__item_active {
	color: $color-orange-200;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background: $color-orange-200;

		@include media-mobile {
			bottom: 0;
		}
	}

	.tabs__counter_active {
		color: $color-orange-200;
	}
}
