@import 'utils/variables';
@import 'utils/media';

.footer {
	background: $color-beige-200;
}

.footer__socials {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	padding: 30px 1px;

	@include media-tablet {
		flex-direction: column;
	}
}

.footer__paragraph {
	color: $color-gray-300;
}
