@import 'utils/variables';
@import 'utils/media';

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: $color-blue-50;
	color: $color-black;
}

.app__header {
	display: flex;
	height: 88px;
}

.page__footer {
	margin-top: 60px;
}
