@import 'utils/variables';
@import 'utils/media';

.app {
	font: normal 20px Roboto, Arial, sans-serif;
	background: $color-beige-100;
	color: $color-black;
}

.app__header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	display: flex;
	height: 88px;
}

.page__footer {
	margin-top: 60px;
}
