$container-width-desktop: 1170px;
$container-width-laptop: 918px;

$color-white: #fff;
$color-black: #1b1f2b;

$color-orange-100: #f8e6be;
$color-orange-200: #efa501;

$color-green-100: #e0f0e5;
$color-green-200: #627f7e;
$color-green-300: #3b7e7b;
$color-green-400: #286562;

$color-gray-100: #f1f3f2;
$color-gray-200: #d9dfdb;
$color-gray-300: #a6a6a6;

$color-beige-100: #f9f7f4;
$color-beige-200: #f4f0e9;

$color-red: #c03420;
