@import 'utils/variables';
@import 'utils/media';

.first-screen {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 20.9%),
		linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(static/header/header-img.jpg);
	background-size: cover;
	background-position-y: center;

	@include media-laptop {
		background-position-x: -110px;
	}
}

.first-screen__content {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	max-width: 768px;
	margin: 0 auto;
	padding-top: 207px;
	padding-bottom: 119px;
	text-align: center;

	@include media-mobile {
		gap: 40px;
		padding-top: calc(52px + 88px);
		padding-bottom: 52px;
	}
}

.first-screen__heading {
	color: $color-white;
}

.first-screen__paragraph {
	max-width: 562px;
	margin: 0 auto;
	color: $color-white;

	@include media-laptop {
		max-width: 442px;
	}

	@include media-mobile {
		max-width: 304px;
	}
}
