@import 'utils/variables';
@import 'utils/media';

.travel-with-us {
	&__image {
		max-width: 370px;
		border-radius: 50px;

		@include media-large-tablet {
			width: 240px;
			border-radius: 30px;
		}

		@include media-tablet {
			width: 300px;
			border-radius: 40px;
		}

		@include media-mobile {
			width: 130px;
			height: 133px;
			border-radius: 20px;
		}
	}

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;

		@include media-tablet {
			flex-direction: column;
			text-align: center;
		}
	}

	&__promotion {
		max-width: 371px;
	}

	&__text {
		margin-top: 20px;
		color: $color-gray-300;

		@include media-mobile {
			max-width: 300px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
}
