@import 'components/paragraph/paragraph.module';
@import 'utils/variables';
@import 'utils/media';

.field {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;

	&__label {
		@include paragraph;
	}
}

.field__error-text {
	@include paragraph;
	@include paragraph_size_small;
	position: absolute;
	bottom: -26px;
	margin-left: 8px;
	color: $color-red;

	@include media-tablet {
		position: static;
	}
}

.field__input:focus + .field__error-text {
	display: none;
}
