/* stylelint-disable no-descending-specificity */
@import 'components/ui/paragraph/paragraph.module';
@import 'utils/variables';
@import 'utils/media';

.input {
	@include paragraph;
	width: 100%;
	height: 68px;
	padding: 20px;
	border: 1px solid $color-beige-200;
	border-radius: 10px;
	background: $color-beige-100;
	appearance: none;

	@include media-mobile {
		height: 43px;
		padding: 10px;
	}

	&:hover {
		background: $color-beige-200;
		cursor: pointer;
	}

	&:focus {
		border-color: $color-gray-300;
		outline: none;
	}

	&::-webkit-datetime-edit {
		text-transform: uppercase;
	}

	&::placeholder,
	&::-webkit-datetime-edit {
		color: $color-gray-300;
	}

	&::-webkit-calendar-picker-indicator,
	&::-webkit-inner-spin-button {
		display: none;
		-webkit-appearance: none;
	}

	&_invalid:not(&:focus) {
		border: 3px solid $color-red;

		&::placeholder,
		&::-webkit-datetime-edit {
			color: $color-red;
		}
	}
}
