@mixin Roboto {
	font-family: Roboto, Arial, sans-serif;
}

@mixin heading_size_1 {
	@include Roboto;
	font-size: 96px;
	font-weight: 700;
	line-height: 104.64px;
	letter-spacing: 0.02em;

	@include media-mobile {
		font-size: 34px;
		line-height: 38.08px;
	}
}

@mixin heading_size_2_mobile {
	font-size: 34px;
	letter-spacing: 0.02em;
	line-height: 38.08px;
}

@mixin heading_size_2 {
	@include Roboto;
	font-size: 59px;
	font-weight: 700;
	line-height: 73.16px;

	@include media-mobile {
		font-size: 34px;
		letter-spacing: 0.02em;
		line-height: 38.08px;
	}
}

@mixin paragraph_mobile {
	font-size: 16px;
	line-height: 22.72px;
}

@mixin paragraph_size_big {
	@include Roboto;
	font-size: 23px;
	font-weight: 700;
	line-height: 28.06px;

	@include media-mobile {
		@include paragraph_mobile;
	}
}

@mixin paragraph {
	@include Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 28.4px;

	@include media-mobile {
		@include paragraph_mobile;
	}
}

@mixin paragraph_size_small {
	@include Roboto;
	font-size: 17px;
	font-weight: 400;
	line-height: 24.14px;
	letter-spacing: -0.01em;

	@include media-mobile {
		@include paragraph_mobile;
	}
}
