$container-width-desktop: 960px;
$container-width-laptop: 720px;

$color-white: #fff;
$color-black: #1b1f2b;

$color-orange-100: #f8e6be;
$color-orange-200: #efa501;

$color-green-100: #e0f0e5;
$color-green-200: #627f7e;
$color-green-300: #3b7e7b;
$color-green-400: #286562;

$color-gray-40: #f7f8f9;
$color-gray-50: #d9dbe5;
$color-gray-75: #d3d4d7;
$color-gray-100: #f1f3f2;
$color-gray-200: #d9dfdb;
$color-gray-300: #a6a6a6;

$color-beige-100: #f9f7f4;
$color-beige-200: #f4f0e9;

$color-red: #c03420;

$color-blue-50: #f4f5f9;
$color-blue-100: #d0deff;
$color-blue-200: #353e54;
$color-blue-300: #537fe7;
