@import 'components/ui/paragraph/paragraph.module';
@import 'utils/variables';
@import 'utils/media';

.textarea {
	@include paragraph;
	display: flex;
	width: 100%;
	min-height: 152px;
	padding: 20px;
	border: 1px solid $color-beige-200;
	border-radius: 10px;
	background: $color-beige-100;
	appearance: none;
	resize: none;

	&_invalid {
		border: 3px solid $color-red;
	}

	&:hover {
		background: $color-beige-200;
		cursor: pointer;
	}

	&:focus {
		border-color: $color-gray-300;
		outline: none;
	}

	&::placeholder {
		color: $color-gray-300;
	}

	@include media-mobile {
		min-height: 132px;
		padding: 10px;
	}
}

.textarea__input {
	display: block;
}
