/* stylelint-disable no-descending-specificity */
@import 'utils/variables';
@import 'utils/media';

.checkbox {
	display: flex;
	align-items: flex-start;
	column-gap: 19px;
	cursor: pointer;

	@include media-laptop {
		column-gap: 11px;
	}

	@include media-mobile {
		column-gap: 10px;
	}

	&_invalid {
		outline: 3px solid $color-red;
		outline-offset: 4px;
	}
}

.checkbox__input {
	display: none;

	&:checked + .fake-control::after {
		content: url('static/checkbox-checked.svg');

		@include media-mobile {
			content: url('static/checkbox-checked-mb.svg');
		}
	}
}

.fake-control {
	position: relative;
	display: block;
	width: 26px;
	height: 26px;

	@include media-mobile {
		width: 20px;
		height: 20px;
	}

	&::after {
		content: url(static/checkbox.svg);

		@include media-mobile {
			content: url(static/checkbox-mb.svg);
		}
	}
}
