@import 'utils/variables';
@import 'utils/media';

.page-layout {
	&__header {
		z-index: 10;
		height: 88px;
	}

	&__footer {
		margin-top: 135px;

		@include media-mobile {
			margin-top: 75px;
		}
	}
}
