@import 'utils/variables';
@import 'utils/media';

.section {
	width: 100%;
}

.section__heading {
	max-width: 860px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;

	@include media-mobile {
		width: 100%;
		margin-bottom: 20px;
	}
}

.section__subtitle {
	max-width: 408px;
	margin: 0 auto;

	font-size: 20px;
	line-height: 28.4px;
	font-family: Roboto;
	font-weight: 400;
	text-align: center;
	color: #a6a6a6;
}

.section__content {
	margin-top: 100px;

	@include media-mobile {
		margin-top: 50px;
	}
}
