@import 'utils/variables';
@import 'utils/media';

.card-review {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
	border-radius: 50px;
	background: $color-beige-200;

	@include media-mobile {
		padding: 20px;
		border-radius: 20px;
	}
}

.card-review__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 70px;

	@include media-mobile {
		align-items: flex-end;
		margin-top: 56px;
	}
}

.card-review__trip {
	margin-top: 8px;
	color: $color-gray-300;
}

.card-review__paragraph-item {
	margin-top: 28px;

	@include media-mobile {
		margin-top: 26px;
	}

	&:first-child {
		margin-top: 0;
	}
}
