@import 'utils/variables';
@import 'utils/media';

.build-tour-form {
	padding: 70px;
	background: $color-white;
	border-radius: 50px;

	@include media-laptop {
		padding: 60px;
	}

	@include media-tablet {
		padding: 20px;
		padding-bottom: 40px;
		border-radius: 30px;
	}

	&__row {
		display: flex;
		column-gap: 30px;
		margin-top: 33px;

		&:first-child {
			margin-top: 0;
		}

		@include media-laptop {
			column-gap: 20px;
		}

		@include media-tablet {
			flex-direction: column;
			row-gap: 30px;
			margin-top: 30px;
		}
	}

	&__field,
	&__radio {
		width: 100%;
	}

	&__button {
		@include media-tablet {
			width: 100%;
			padding: 12px 0;
		}
	}
}

.checkbox__paragraph {
	color: $color-gray-300;

	&_invalid {
		color: $color-red;
	}
}

.row__buttons {
	@include media-tablet {
		flex-direction: row;
	}

	@include media-mobile {
		gap: 10px;
	}
}
