@import 'components/Paragraph/paragraph.module';
@import 'utils/variables';
@import 'utils/media';

.link {
	@include paragraph;

	display: inline-block;
	text-decoration: none;
	color: $color-black;
	cursor: pointer;

	@include media-mobile {
		word-wrap: break-word;
	}
}

.link_underline {
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
	}

	&:hover::after {
		background: $color-black;
	}
}

.link_active_orange {
	&:active {
		color: $color-orange-200;
	}

	&:active::after {
		background: $color-orange-200;
	}
}

.link_active_green {
	&:active {
		color: $color-green-400;
	}

	&:active::after {
		background-color: $color-green-400;
	}
}

.link_vk {
	position: relative;
	left: 36px;

	&::before {
		content: url('static/vk.svg');
		position: absolute;
		left: -36px;

		@include media-mobile {
			content: url('static/vk_mob.svg');
			left: -25px;
		}
	}
}

.link_inst {
	position: relative;
	left: 36px;

	&::before {
		content: url('static/inst.svg');
		position: absolute;
		left: -36px;

		@include media-mobile {
			content: url('static/inst_mob.svg');
			left: -25px;
		}
	}
}

.link_fb {
	position: relative;
	left: 36px;

	&::before {
		content: url('static/fb.svg');
		position: absolute;
		left: -36px;

		@include media-mobile {
			content: url('static/fb_mob.svg');
			left: -25px;
		}
	}
}

.link_small {
	@include paragraph_size_small;
}

.link_white {
	color: $color-white;
	fill: $color-white;

	&::after {
		background: none;
	}

	&:hover::after {
		background: $color-white;
	}

	&:active::after {
		background: $color-white;
	}
}
